.form{
	display: block;
    background: #fff;
    width: 320px;
    margin: 100px auto 0px;
    padding: 20px;
    border: solid 2px #FA5661;
    text-align: center;
}

.form .a-link-q{
	color: #fff;
	font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    background: #FA5661;
    padding: 5px 20px;
    display: inline-block;
    margin-top: 20px;
}